body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color:   #33ccff;
}
.container{
	width: 300px;
	padding: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	text-align: center;
	border-radius: 10px;
}
.container h1{
	color: blue;
	text-transform: uppercase;
	font-weight: 500;
	text-decoration: underline;

}
.container input[type="text"], .container input[type="password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid black;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;

}
.container input[type="text"]:focus, .container input[type="password"]:focus{
	width: 280px;
	border-color: blue;
}
.container button[type="submit"]{
	border:0;
	background: none;
	margin-left: 10px ;
	height: 50px;
	text-align: center;
	border: 2px solid blue;
	padding-left: 5px;
	width: 100px;
	outline: none;
	border-radius: 24px;
	transition: 0.25s;
	font-size: 15px;
	font-family: sans-serif;
	color: black;
}
.container button[type="submit"]:hover{
	background: blue;
	color:white;
}

button{
	margin-bottom: 10px;
	height: 50px;
	width: 100px;
	font-size: 15px;
	margin-left: 10px;
	padding: 10px;
	color: black;
	border-radius: 24px;
	font-family: sans-serif;
}

.container button[type="reset"]:hover{
	background: #6aeaa3;

}
.container button[type="button"]:hover{
	background-color: #e54040db;
	color:white;

}
.CS  #forgot {
  margin: 0.9em 0 0;
  margin-left: 50px;
}

.CS a{
	text-decoration: none;
}
 .src{
 	display: flex;
 }